<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>courseStudentSignup</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Student Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/student/register}">Register New Student</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course/register}">Register New Course</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course/registerStudent}">Register To a Course</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/allStudents}">Show All Students</a></li>
                        <li><a class="dropdown-item" th:href="@{/allCourses}">Show All Courses</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" th:href="@{/student/search}">Get Student By Email</a></li>
                        <li><a class="dropdown-item" th:href="@{/student/courses}">Get Student Courses</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 style = "text-align:center"> Course Signup</h1>


<div align="center">
<form action="/course/registerStudentAlt" method="post">
    <label for="formemail">Student Email:</label><br>
    <input type="text" id="formemail"  name="email" required/><br>
    <label for="formcourseid">Course Id:</label><br>
    <input type="text" id="formcourseid"  name="courseID" required/><br>

    <input type="submit" value="submit" />

</form>
</div>

<div align="center">
<form action="/course/registerStudent" method="post" >
<th:block th:each="course : ${availableCourses}">
    <div class = "container">
        <input type="checkbox" th:id="${course.id}" th:name="${course.id}" th:value="${course.id}"></input>
        <label th:text = "${course.name}" th:for="${course.id}"></label>
    </div>
</th:block>
    <input type="submit" value="submit">
</form>
</div>

</body>
</html>